/* RESET */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: futura;
}

/* NAVBAR */
/* ------ */

.nav-container {
  width: 100%;
  display:flex;
  justify-content: left;
  font-size: 24px;
}

/* CURRENT LINK STYLE */

.nav-container a {
  border-right: 1px dotted #D8D7DA;
  text-decoration: none;
  list-style: none;
  padding: 15px;
  color: #FA7F49;
}

/* HOVER LINKS / ACTIVE LINKS */

.nav-container a:hover, .active-link {
  background-color: #D8D7DA;
  color: black;
  transition: 0.2s;
}

/* DONATE BUTTON */

.donate-link {
  background-color: #FA7F49;
}

.donate-link li {
  color: white;
}

/* COMPANY NAME */

.company-name {
  margin: auto 15%;
  color: gray;
}

.company-name:hover {
  color: #FA7F49;
  transition: 0.2s;
}

.copyright {
  font-size: 9px;
}

/* END OF NAVBAR */

/* CONTENT */
/* ------ */

.wallpaper {
  position: relative;
  background-image: url("images_for_home/majestic.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 600px;
  display: flex;
}

/* TEXT INSIDE WALLPAPER  */
.wallpaper p {
  /* border: 1px solid black; */
  position: absolute;
  margin: 13% 3%;
  font-size: 3em;
  color: white;
}
.mission-text {
  /* border: 1px solid green; */
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.join-text {
  /* border: 1px solid green; */
  display: block;
}

/* END OF CONTENT */
