/*clears margin and padding of defaulted elements*/

*{
  box-sizing: border-box;
}

/*clear margin and padding*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "futura" !important;
}

/* Nav Bar */
/* ------ */

.nav-container {
  width: 100%;
  display:flex;
  justify-content: left;
  font-size: 22px;
  border-bottom: 1px solid #D8D7DA;
}

.nav-container a {
  border-right: 1px dotted #D8D7DA;
  text-decoration: none;
  list-style: none;
  padding: 15px;
  color: #FA7F49;
}

/* Style When Hover Over Links */

.nav-container a:hover {
  background-color: #D8D7DA;
  color: black;
  transition: 0.2s;
}

/* Donate Button */

.donate-link {
  background-color: #FA7F49;
}

.donate-link li {
  color: white;
}

/* Company Name */

.company-name{
  margin: auto 15%;
  color: gray;
}

.copyright {
  font-size: 9px;
}

/* END OF NAVBAR */

/* CONTENT */
/* ------ */

.wallpaper {
  position: relative;
  background-image: url("img/majestic.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 500px;
  display: flex;
}

/* TEXT INSIDE WALLPAPER  */
.wallpaper p {
  /* border: 1px solid black; */
  position: absolute;
  margin: 13% 3%;
  font-size: 2.5em;
  color: white;
}
.mission-text {
  /* border: 1px solid green; */
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.join-text {
  /* border: 1px solid green; */
  display: block;
}

/* END OF CONTENT */

/* Image Gallery */
/* ------ */

.imggallery {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 10%;
}

.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 5px;
}

.gallimage {
  margin-top: 10px;
  vertical-align: middle;
  background-size: 100% 100%;
  width: 100%;
}

/* END OF IMAGE GALLERY */

/* DONATE PAGE */

.wrapper {
  width: 100%;
  display:grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
}

/*.image {
  /*border: 2px solid red;*/
  /*background-image: url("impossibly-cute-puppy-8.jpg");
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  left: 100px;*/
/*}**/

.image {
  background-image: url("impossibly-cute-puppy-8.jpg");
  background-size: 100% 100%;
  /*grid-column-start: 1;
  grid-column-end: 3;*/
  height: 400px;
  width: 80%;
  margin: 50px auto;
}

h2 {
  color: blue;
  text-align: center;
  padding-top: 200px;
}

.wrapper2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 0 auto;
}

h3{
  background-color: orange;
  display: inline-block;
  padding: 10px;
  justify-content: center;
  text-align: center;
}

.money {
  text-align: center;
}

/*Mobile Responsive*/

/*TABLET*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/*PHONE*/
@media screen and (max-width: 767px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
